<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Application</title>
  <link rel="stylesheet" href="./../../../system/assets/w3.css"> 
  <link rel="stylesheet" href="./../../../system/assets/allFonts.css"> 
    <link rel="stylesheet" href="./../../../system/assets/app.css"> 
    <script src="./../../../system/assets/js/validator.min.js"></script>
 </head>
 <body>
    <style>
       body{background: purple; color:pink;}
    </style>
    
    <h1> Hello controller: "{{ controllerName }}" !</h1>
</body>
</html>

<script>
    require('./view.js');
 </script>